[Unit]
Description=SSH key agent multiplexer

[Socket]
ListenStream=%t/ssh-agent.socket
DirectoryMode=0700
SocketMode=0600

[Install]
WantedBy=sockets.target
