[Unit]
Description=SSH key agent multiplexer

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=%h/.cargo/bin/sshagmux daemon -a $SSH_AUTH_SOCK
Restart=on-failure

[Install]
WantedBy=default.target
