[Unit]
Description=SSH key agent multiplexer

[Socket]
ListenStream=%t/ssh-agent.socket
SocketMode=0600
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
